@use "../abstracts";

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

.heading {
    font-family: "Big Shoulders Display";
    font-weight: 900;
    text-transform: uppercase;

    &--xl {
        font-size: 3.75rem; // 60px
        line-height: 3.4375rem; // 55px
        padding-block: 2rem;
        @include abstracts.breakpoint-up(medium) {
            font-size: 4.375rem; // 70px
            line-height: 4.0625rem; // 65px
        }
        @include abstracts.breakpoint-up(large) {
            font-size: 6rem; // 96px
            line-height: 5.5rem; // 88px
        }
    }

    &--l {
        font-size: 3.125rem; // 50px
        line-height: 2.8125rem; // 45px
        @include abstracts.breakpoint-up(medium) {
            font-size: 3.4375rem; // 55px
            line-height: 3.125rem; // 50px
        }
        @include abstracts.breakpoint-up(large) {
            font-size: 4.375rem; // 70px
            line-height: 4.375rem; // 70px
        }
    }

    &--m {
        font-size: 3.125rem; // 50px
        line-height: 2.8125rem; // 45px
        @include abstracts.breakpoint-up(medium) {
            font-size: 3.4375rem; // 55px
            line-height: 3.125rem; // 50px
        }
        @include abstracts.breakpoint-up(large) {
            font-size: 3.75rem; // 60px
            line-height: 3.125rem; // 50px
        }
    }

    &--s {
        font-size: 1.25rem; // 20px
        line-height: 1.25rem; // 20px
    
        @include abstracts.breakpoint-up(large) {
            font-size: 2.25rem; // 36px
            line-height: 2.25rem; // 36px
        }
    }
}

.paragraph{
    padding-bottom: 2rem;
}

.body--m {
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem; // 18px
    line-height: 1.75rem; // 28px
    @include abstracts.breakpoint-up(large) {
        font-size: 1.375rem; // 32px
        line-height: 2rem; //22px
    }
}

.body--s{
    font-family: 'Outfit', sans-serif;
    font-size: 1rem; // 16px
    line-height: 1.625rem; // 26px
    @include abstracts.breakpoint-up(large) {
        font-size: 1.125rem; // 18px
        line-height: 1.75rem; // 28px
    }
}
