@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");
.heading {
  font-family: "Big Shoulders Display";
  font-weight: 900;
  text-transform: uppercase;
  color: #151515;
}
.heading--xl {
  font-size: 3.75rem;
  line-height: 3.4375rem;
  padding-block: 2rem;
}
@media only screen and (min-width: 40em) {
  .heading--xl {
    font-size: 4.375rem;
    line-height: 4.0625rem;
  }
}
@media only screen and (min-width: 67.5em) {
  .heading--xl {
    font-size: 6rem;
    line-height: 5.5rem;
  }
}
.heading--l {
  font-size: 3.125rem;
  line-height: 2.8125rem;
}
@media only screen and (min-width: 40em) {
  .heading--l {
    font-size: 3.4375rem;
    line-height: 3.125rem;
  }
}
@media only screen and (min-width: 67.5em) {
  .heading--l {
    font-size: 4.375rem;
    line-height: 4.375rem;
  }
}
.heading--m {
  font-size: 3.125rem;
  line-height: 2.8125rem;
  padding-block: 1.5rem;
}
@media only screen and (min-width: 40em) {
  .heading--m {
    font-size: 3.4375rem;
    line-height: 3.125rem;
  }
}
@media only screen and (min-width: 67.5em) {
  .heading--m {
    font-size: 3.75rem;
    line-height: 3.125rem;
  }
}
.heading--s {
  font-size: 1.25rem;
  line-height: 1.25rem;
}
@media only screen and (min-width: 67.5em) {
  .heading--s {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
}

.paragraph {
  padding-bottom: 2rem;
}

.body {
  font-family: "Outfit", sans-serif;
  color: #444444;
}
.body--m {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
@media only screen and (min-width: 67.5em) {
  .body--m {
    font-size: 1.375rem;
    line-height: 2rem;
  }
}
.body--s {
  font-size: 1rem;
  line-height: 1.625rem;
}
@media only screen and (min-width: 67.5em) {
  .body--s {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container--block {
  padding-block: 2rem;
}
.container--inline {
  padding-inline: 1rem;
}

.button, .button--arrow-right, .button--arrow-left {
  border: none;
  font-family: "Big Shoulders Display";
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding: 1.5rem 2rem 1.5rem 2rem;
  position: relative;
  background-color: #151515;
  color: #ffffff;
  cursor: pointer;
  transition: 200ms all ease-in-out;
}
.button:hover, .button--arrow-right:hover, .button--arrow-left:hover {
  background-color: #D5966C;
}
.button:hover::after, .button--arrow-right:hover::after, .button--arrow-left:hover::after {
  background-color: black;
}
.button--arrow-right, .button--arrow-left {
  padding: 1.5rem 5.5rem 1.5rem 2rem;
}
.button--arrow-right::after, .button--arrow-left::after {
  background-image: url("../assets/icon-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #D5966C;
  height: 100%;
  width: 3.5rem;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0rem;
  transition: 200ms all ease-in-out;
}
.button--arrow-left {
  padding: 1.5rem 2rem 1.5rem 5.5rem;
}
.button--arrow-left::after {
  background-image: url("../assets/icon-arrow-left.svg");
  right: unset;
  left: 0;
}

.hero {
  padding-bottom: 7.5rem;
}
@media only screen and (min-width: 40em) {
  .hero {
    display: grid;
    grid-template-columns: auto 5rem auto;
    grid-template-rows: auto;
    align-items: center;
  }
}
@media only screen and (min-width: 67.5em) {
  .hero {
    grid-template-columns: minmax(1.5rem, 1fr) repeat(4, 17.1875rem) minmax(1.5rem, 1fr);
    padding-bottom: 11.25rem;
  }
}
@media only screen and (min-width: 40em) {
  .hero__image {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
  }
}
@media only screen and (min-width: 67.5em) {
  .hero__image {
    background-color: #151515;
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-row: 1;
    grid-template-columns: minmax(1.5rem, 1fr) repeat(3, 17.1875rem);
  }
}
.hero__picture {
  width: 100%;
}
@media only screen and (min-width: 67.5em) {
  .hero__picture {
    grid-column-start: 3;
    grid-column-end: 5;
  }
}
.hero__picture img {
  display: block;
}
@media only screen and (min-width: 40em) {
  .hero__text {
    max-width: 25rem;
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row: 1;
  }
}
@media only screen and (min-width: 67.5em) {
  .hero__text {
    grid-column-start: 2;
    grid-column-end: 6;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 67.5em) {
  .hero__heading {
    max-width: 28rem;
    color: white;
    mix-blend-mode: difference;
  }
}
@media only screen and (min-width: 67.5em) {
  .hero__paragraph {
    max-width: 21.875rem;
  }
}

.gallery {
  display: grid;
}

/*# sourceMappingURL=style.css.map */
